<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <!--.container-fluid>.row>.col-4+.col-8-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">

                <!--.container.row>(.col-4>.nav.flex-column.bg-dark)+.col-8-->

                <div class="row">
                    <div class="col-4 ">
                        <div class="nav flex-column bg-dark">l
                            <!--(div>a.nav-link[href=#])*4-->

                            <div>
                                <a href="#" class="nav-link">
                                    <img src="./assets/images/M.png" alt="Menu">
                                </a>
                            </div>
                            <div>
                                <a href="#" class="nav-link">
                                    <img src="./assets/images/bubble.png" alt="Chat with people">
                                </a>
                            </div>
                            <div>
                                <a href="#" class="nav-link">
                                    <img src="./assets/images/people.png" alt="Go to groups">
                                </a>
                            </div>
                            <div>
                                <a href="#" class="nav-link ">
                                    <img src="./assets/images/moon.png" alt="Moon">
                                </a>
                            </div>


                        </div>
                    </div>
                    <div class="col-8">

                        <!--.row>(.col-auto>p.fw-folder{Messages})+.col-auto-->
                        <div class="row">
                            <div class="col-auto">
                                <p class="fw-bolder">Messages</p>
                            </div>

                            <div class="col-auto">
                                <img src="./assets/images/circle.png" alt="Notifications">

                            </div>
                        </div>



                        <!--nav.nav>a.nav-link.fw-bolder.text-decoration-underline.text-dark[href=#]{Recent}+a.nav-link.fw-bolder.text-dark[href=#]{Pinned}-->
                        <nav class="nav">
                            <a href="#" class="nav-link fw-bolder text-decoration-underline text-dark">Recent</a>
                            <a href="#" class="nav-link fw-bolder text-dark">Pinned</a>
                        </nav>

                        <!--.row.bg-secondary>.col-2+.col-10>div>div>strong.mr-auto{Artur Towish}+small{1h ago}^div{Some sample message}-->

                        <div class="row bg-secondary">
                            <div class="col-2">
                                <img src="./assets/images/profile_pic.png" alt="Profile picture">
                            </div>
                            <div class="col-10">
                                <div>
                                    <div><strong class="mr-auto">Artur Towish</strong><small>1h ago</small></div>
                                    <div>Some sample message</div>
                                </div>
                            </div>
                        </div>

                        <!--.row.bg-secondary>.col-2+.col-10>div>div>strong.mr-auto{Nix Golddigger}+small{2h ago}^div{Second sample message}-->
                        <div class="row bg-secondary">
                            <div class="col-2">
                                <img src="./assets/images/profile_pic.png" alt="Profile picture">
                            </div>
                            <div class="col-10">
                                <div>
                                    <div><strong class="mr-auto">Nix Golddigger</strong><small>2h ago</small></div>
                                    <div>Second sample message</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <!--nav.navbar.navbar-light.bg-secondary>form.d-flex>input.form-control.me-2+span.input-group-text"-->
                <nav class="navbar navbar-light bg-secondary">
                    <form class="d-flex"><input type="text" class="form-control me-2">
                        <img class="input-group-text" src="./assets/images/search.png" alt="Search">
                    </form>
                </nav>

                <!--.row>.col-1+.col-4+.col-4+.col-1-->
                <div class="row">
                    <div class="col-1">

                        <img src="./assets/images/profile_pic.png" alt="Profile picture">
                    </div>


                    <div class="col-4">
                        <!-- (.card.bg-secondary>.card-body)*3-->
                        <div class="card bg-secondary">
                            <div class="card-body"></div>
                        </div>
                        <div class="card bg-secondary">
                            <div class="card-body"></div>
                        </div>
                        <div class="card bg-secondary">
                            <div class="card-body"></div>
                        </div>

                    </div>
                    <!-- (.card.bg-secondary>.card-body)*3-->
                    <div class="col-4 offset-md-2">
                        <div class="card bg-secondary">
                            <div class="card-body"></div>
                        </div>
                        <div class="card bg-secondary">
                            <div class="card-body"></div>
                        </div>
                        <div class="card bg-secondary">
                            <div class="card-body"></div>
                        </div>

                    </div>
                    <div class="col-1">
                        <img src="./assets/images/profile_pic.png" alt="Profile picture">
                    </div>
                </div>

                <!--.input-group.mb-3>input.form-control.boder-dark+span.input-group-text-->
                <div class="input-group">

                    <input type="text" class="form-control border-dark">

                    <img class="input-group-text" src="./assets/images/send.png" alt="Send a message">


                    <img class="input-group-addon" src="./assets/images/attachment.png" alt="Choose a file">

                    <img class="input-group-addon" src="./assets/images/photo.png" alt="Choose a photo">
                </div>

            </div>
        </div>
    </div>

</body>

</html>